#root {
  text-align: center;
  width: 100%;
  height: 100vh;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  position: relative;
}

.svg-btn {
  position: absolute;
  background: white;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  z-index: 1;
  cursor: pointer;
  transition: background-color 0.3s;
}

.svg-btn:hover {
  background-color: rgb(222, 222, 222);
  transition: background-color 0.3s;
}

.cloud-btn {
  top: calc(50% - 17.5px + 100px)
}

.cloud-btn img {
  height: 25px;
  width: 25px;
}

.reset-btn img {
  height: 15px;
  width: 15px;
}

.settings-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
}

.left,
.right {
  height: 100%;
  flex-basis: 50%;
  user-select: none;
  position: relative;
  z-index: 0;
}

.nickname {
  position: absolute;
  font-size: 45px;
  font-weight: bolder;
  top: 80px;
  width: 100%;
}

.content {
  font-size: 40px;
  font-weight: bold;
  height: 100%;
}

.btn {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border-radius: 5px;
}

.btn:hover {
  background-color: #05b3f22a;;
transition: all 0.3s;
}

form .form-control {
  text-align: left;
  margin-bottom: 12px;
  display: flex;
  select, input {
    padding: 10px;
  }
  p.label {
    flex-basis: 50%;
    font-size: 20px;
    margin-bottom: 4px;
  }
}